/*

ORANGE COLOR: #cf6d17

*/

/*------------------------------------------------- */
/* BASIC SETUP*/
/*--------------------------------------------------*/

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
} 

html{
    background: #fff;
    color:#555;
    /*font-family: 'Lato', 'Ariel',sans-serif;*/
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
}

html, body{
    max-width: 100%;
    overflow-x: hidden;
}

.clearfix {zoom:1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/*------------------------------------------------- */
/* REUSABLE COMPONENTS*/
/*--------------------------------------------------*/
.row {
    max-width: 1140px;
    margin: 0 auto; 
}

section {
    padding:80px 0;
    
}

box {
    padding: 1%;
}
/*----------ICONS-----------*/
.icon-big {
    font-size: 350%;
    display: block;
    color: #00ab6b;
    margin-bottom: 10px;
}

.icon-small {
    display: inline-block;
    width: 30px;
    text-align: center;
    color: #00ab6b;
    font-size: 120%;
    
    /*secrets to align text and icons*/
    line-height: 120%;
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 10px;
    
}



/*----------HEADINGS-----------*/
h1,
h2,
h3,
h4 {
   
    font-weight: 300;
    text-transform: uppercase;
    
    
    
}
h1{
    margin-top:0;
    margin-bottom: 20px;
    color: #fff;
    font-size: 260%;
    word-spacing: 4px;
    letter-spacing: 1px;
}
h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3{
    font-size: 110%; 
    margin-bottom: 15px;
}

h4{
    font-size: 140%;
    margin-bottom: 15px;
}

h2:after {
    display:block; 
    height: 2px;
    background-color: #00ab6b;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/*-----------REUSABLE CODE-------*/
.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 1%;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
    padding: 20px 16px;
    margin-bottom: 70px;
}

.badge{
    border: 1px solid;
    padding: 5px;
    border-radius: 5px;
    margin-right: 4px;
}

.badge-primary {
    background: white ;
    color: black;
    border-color: black;
}

.badge-secondary {
    background: white;
    border-color: #02b875;
    color: #02b875;
}

/*-----------PARAGRAPHS----------*/

.long-copy {
    line-height: 145%;
    width: 70%;
    margin-left: 15%;
    margin-bottom: 50px;
    font-size: 100%;
    text-align: center;
}

.long-copy-left{
    line-height: 145%;
    width: 70%;
    margin-bottom: 50px;
    font-size: 100%;
    text-align: left;
}
.box p {
    font-size: 90%;
    line-height: 145%;
}
/*-----------LINKS------------*/

a:link,
a:visited {
    text-decoration: none; 
    color: #cf6d17;
    padding-bottom: 2px;
    border-bottom: 1px solid #cf6d17;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
    
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent; 
}
/*-----------BUTTONS------------*/
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px; 
    font-weight: 300;
    text-decoration: none; 
    border-radius: 200px;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    
}
.btn-footer:link,
.btn-footer:visited,
input[type=submit] {
    background: #00ab6b;
    border: 1px solid white;
    color:#fff;
    border-radius: 5px;
    
}



.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background: #02b875; 
    border: 1px solid #018655;
    color: #fff; 
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #02b875;
    color: #02b875;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #018655;
}


.btn-footer:hover,
.btn-footer:active {
    border: 1px solid #fff;
    color:white;
    background: black;
}

.btn-full:hover,
.btn-full:active {
    
    border: 1px solid #018655; 
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #00ab6b;
    color: #fff;
}

/*------------------------------------------------- */
/* HEADER*/
/*--------------------------------------------------*/
header {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.2)),to(rgba(0, 0, 0, 0.2))), url(img/hero2.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2)), url(img/hero2.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    height: 100vh; 
}

.hero-text-box {
    position:absolute;
    width: 1140px;
    top:50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%)
}

.logo {
    height:100px;
    width: auto;
    float: left;
    margin-top: 20px;
    
}

.logo-black {
    display: none; 
    height:50px;
    width: auto;
    float: left;
    margin: 5px 0;
    
}

/*Main Navi */
.main-nav {
    float: right;
    list-style: none;
    color: #fff;
    margin-top:55px;
    
}
.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding:8px 0;
    color:#fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent; 
    -webkit-transition: border-bottom 0.2s; 
    transition: border-bottom 0.2s;
   
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #00ab6b; 
}


/*--------------PROJECTS-------------*/
.btn-project{
    margin-top: -12px;
}




/*-------------FOOTER-----------*/
footer {
    background-color:#00ab6b; 
    padding: 50px;
    font-size: 80%;
    
}

.footer-nav {
    list-style: none;
    float: left;
    
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color:#fff; 
    -webkit-transition: color 0.2s; 
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
    color: #ddd;
} 

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}
.ion-logo-facebook:hover {
    color:#3b5998;
}
.ion-logo-github:hover {
    color:#4183C4;
}
.ion-logo-linkedin:hover {
    color: #0275b5;
}
.ion-logo-instagram:hover {
    color: #ffdc7d;
}
footer p {
    color: #fff;
    text-align: center;
    margin-top:20px;
}

